.global-datagrid-header-blue-background.global-datagrid-header-blue-background.global-datagrid-header-blue-background {
  background: #5b7bb7;
  color: #e9ecf0;
  font-weight: bold;
  font-style: italic;
}

.global-datagrid-3px-tomato-border.global-datagrid-3px-tomato-border {
  border: 1px solid #ef9a9a;
  box-shadow: 0 0 8px 2px rgba(239, 154, 154, 0.5);
}

.global-row-color-red.global-row-color-red.global-row-color-red {
  color: #ff595e;
}

.global-row-color-blue.global-row-color-blue.global-row-color-blue {
  color: #7986cb;
}

.global-row-color-tomato.global-row-color-tomato.global-row-color-tomato {
  color: #ef9a9a;
}

.global-group-color-tomato.global-group-color-tomato.global-group-color-tomato {
  color: #ef9a9a;
  font-style: italic;
}

.cell-edit__copy-paste__input {
  padding: 5px;
  outline: none;
  background: #464d56;
  color: #9ba7b4;
  border: 1px solid #464d56;
  border-radius: 2px;
  margin-bottom: 20px;

  &:focus {
    border: 1px solid #7986cb;
  }
}