
.app {
  padding: 20px;
  height: calc(100vh - 90px);
  background:#2e3439;
  font-size: 15px;
}

.app-content {
  display: flex;
  max-width: 1562px;
  margin: 0 auto;
  height: 100%;
  padding-top: 30px;
}

.app-content-menu-button {
  background: transparent;
  border: none;
  fill: #9ba7b4;
  margin-left: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.4);
  position: absolute;
  top: 30px;
  right: 40px;
}

.configurator {
  width: 300px;
  margin-left: 8px;
  padding: 16px;
  background: #313943;
  border: 1px solid #4f575f;
  display: flex;
  flex-direction: column;
  color: #9ba7b4;
  position: relative;
}

.configurator-title {
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: bold;
}

.configurator-button {
  width: auto;
}

.configurator-close-button {
  border: none;
  background: transparent;
  position: absolute;
  top: 10px;
  right: 5px;
  fill: #9ba7b4;
  transition: fill 125ms ease-in-out;
}

.configurator-close-button:hover {
  fill: #e8e8e8;
}

.configurator-close-button:active {
  fill: #e8e8e8;
  transform: translateY(1px);
}


.field-with-label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.spinner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #9ba7b4;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

